*, *:before, *:after {
  box-sizing:border-box;
}

body {
  background-color: #D8D1C9;
  font-size: 12px;
}

div {
  margin: 0 30% 0 30%;
  text-align: center;
  border-collapse: collapse;
  background-color: white;
  font-size: 12px;
  }

.preview:hover {
  background-color: #ED8216;
}

/*images*/

.baku-pic, .london-pic, .madrid-pic, .rome-pic {
  width: 284.8px;
  height: 100px;
  border-collapse: collapse;
}

h1 {
  color: #24246E;
}

section.container {
  text-align: center;
  font-size: 16px;
}

/*media query for 2-column design*/
@media screen and (min-width: 800px){
   div {
    margin: 1%;
    width: 48%;
    float:left;
  }
  .baku-pic, .london-pic, .madrid-pic, .rome-pic {
  width: 48%;
}
}


/*media query for 4-column design*/
@media screen and (min-width: 1100px){
  .preview {
  float: left;
  width: 20%;
  margin-left: 3%;
}
  .baku-pic, .london-pic, .madrid-pic, .rome-pic {
  width: 20%;
}

}
